*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}

.parent{
  width:100%;
  height:100vh;
  background:#ffffff;
  border:2px solid black;
  display:flex;
}

.box{
  border:1px solid white;
}

.chat-list{
  flex-grow:1
}
.box3{
  flex-grow:2;
}

.menu{
  flex-shrink:8;
  height:100%;
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  box-shadow: 0px 0 4px 0 black;
}

.row{
  display:flex;
  flex-direction:row;
}

.col{
  display:flex;
  flex-direction:column;
}


#btn-status{
  margin-top:2em;
}

.menu button{
  width:2em;
  height:2em;
  margin:0.5em;
  text-align:center;
}

.chatlist{
  display:flex;
  flex-grow:1;
  flex-direction:column;
  flex-wrap:nowrap;
}

.chatlist-header{
  display:flex;
  flex-direction:row;
  flex-shrink:5;
  flex-wrap:wrap;
  padding:0.5em;
  box-shadow: 0px 0 4px 0 black;
}

.chatlist-title{
  font-size:24px;
  flex:3;
  text-align:start;
}

.chatlist-nav{
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;
}

.chatlist-nav button{
  width:2em;
  height:2em;
}

.chatlist-body{
  height:75%;
  flex:3;
  display:flex;
  flex-direction:column;
  gap:8px;
  overflow-y:scroll;
}

.chat-wrapper{
  width:100%;
  max-height:4em;
  margin: 0 0.2em;
  padding:0.5em;
  flex-grow:3;
  display:flex;
  align-items:center;
  background:lightgreen;
  border:1px solid rgba(0,0,0,0.5);
  border-radius: 10px;
}

.chat-wrapper img.profile-image{
  height:50%;
  border-radius: 50%;
}